html {
  background-image: url(./imagens/world-map-concept-art-background.jpg);
  background-size: cover;
  background-size: 200%;
  background-position: 2500px 1150px;
  color: white;
}
a {
  font-family: Arial, Helvetica, sans-serif;
  font-style: none;
}
body {
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(0, 0, 0, 0.712);
  position: relative;
  top: 10%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(./imagens/fotoPerfilcorrigida.png);
  background-size: 700px;
  background-position: 1150px;
  background-position-y: 80px;
  background-repeat: no-repeat;
}
.header {
  position: fixed;
  width: 100%;
  top: 0px;
  background-image: linear-gradient(rgba(0, 0, 255, 1), rgba(0, 0, 0, 0.8));
  z-index: 1;
}
h1 {
  position: relative;
  left: 40vh;
  width: 840px;
  margin: 20px;
  font-size: 40px;
  font-family: "Press Start 2P", cursive;
}
.content {
  position: absolute;
  top: 80px;
  height: 90vh;
  width: 100%;
}
.boxL {
  display: inline-block;
  font-size: 30px;
  width: 60%;
  margin: 0px 0px;
  padding: 0px 40px;
}
/* .boxR {
  float: right;
  background-image: url(./imagens/fotoPerfilcorrigida.png);
  width: 500px;
  height: 200px;
  background-size: cover;
  height: 90vh;
  border: 2px solid red;
  overflow-x: hidden;
  overflow-y: hidden;
} */
