header {
    background-color: #1f2738;
    color: white;
    height: 50px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    /* align-content: space-between; */
    justify-content: center;
    box-shadow: 1px 3px 5px rgba(1, 3, 14, 0.541);
}